.team-page {
  padding: 30px;
}

.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.add-btn {
  height: 45px;
  padding: 10px 18px;
  background: #6c63ff;
  border: none;
  border-radius: 10px;
  color: white;
}

.add-btn:hover{
  background: #5a52e8;
  cursor: pointer;
}


.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}


.mod-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mem-mod {
  background: rgba(225, 225, 225, 0.7);
  backdrop-filter: blur(10px);
  width: 400px;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mem-mod:hover {
  box-shadow: 0px 5px 20px rgba(0, 18, 97, 0.85);
}

.mem-mod h2 {
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
}

.mem-mod input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #5a52e8;
}

.modal-btn {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.modal-btn button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-btn {
  color: white;
  background: #ef4444;
  font-size: 16px;
}

.save-btn {
  color: white;
  background: #6c63ff;
  font-size: 16px;
}

.profile-mod {
  background: rgba(225, 225, 225, 0.7);
  backdrop-filter: blur(10px);
  padding: 25px;
  width: 450px;
  text-align: center;
  border-radius: 16px;
}

.profile-mod:hover{
  box-shadow: 0px 5px 20px rgba(0, 18, 97, 0.85);
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-details{
  text-align: left;
  margin-top: 20px;
}

.profile-details p {
  margin: 10px;
}

.close-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #ef4444;
  color: white;
}

