.profile-page {
    min-height: 100vh;
    padding: 25PX;
}

.profile-header {
    background: linear-gradient(95deg,#efe8ff,#ffffff);
    padding: 30px;
    justify-content: space-between;
    display: flex;
    border-radius: 20px;
    margin-bottom: 20px;
}

.profile-left {
    display: flex;
    gap: 25px;
}

.profile-img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.pro-badge {
    background: #ede7ff;
    color: #6c63ff;
    padding: 2px 12px;
    padding-top: 10px;
    font-size: 18px;
    border-radius: 20px;
}

.pro-crown {
    color: gold;
    fill: gold;
}

h2 {
    padding-left: 20px;
}

.work {
    padding-left: 20px;
}

.contact {
  gap: 20px;
}

.contact p {
    display: flex;
    margin: 5px;
    padding: 5px 10px;
}

.edit-btu {
    height: 45px;
    color: white;
    background: #6c63ff;
    border: None;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    padding: 0px 20px;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.edit-btu:hover {
  background-color: #584ef8;
}

.stat-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.stat-grid:hover{
    box-shadow: 20px 20px 30px;
}

.stat-cart {
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

.stat-cart:hover {
    background: #6c63ff;
    color: white;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    margin: 20px;
    padding: 20px;
}

.tabs button {
    height: 45px;
    justify-content: space-between;
    border: None;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
}

.tabs button:hover {
    background-color: #b3b2b4;
}

.tabs button.active {
  background: #6c63ff;
  color: white;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.card h3 {
  margin-bottom: 20px;
  color: #333;
}

.card p {
  color: #666;
  line-height: 1.7;
}

.card textarea,
.card input,
.card select {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.card textarea:focus,
.card input:focus,
.card select:focus
{
  background-color: #0d0d1b;
  color: white;
}

.card label {
  font-weight: 600;
  font-size: 24px;
  padding: 20px 0px;
}

.save-btu {
  border: none;
  border-radius: 10px;
  height: 45px;
  padding: 0px 20px;
  background-color: #6c63ff;
  color: white;
  margin: 50px;
  margin-left: 80%;
  margin-right: 0px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s ease;
}

.save-btu:hover {
  background-color: #584ef8;
}

.change-btu {
  height: 45px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.change-btu:hover {
  background-color: #584ef8;
}

