.projects-container {
  padding: 20px;
  min-height: 100vh;
}

/* Header */
.projects-header h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.projects-header p {
  color: #4c75ae;
  margin-bottom: 20px;
}



.mod-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.mod {
  width: 420px;
}